{% extends "tango-layout.html" %}
 
{% block content %}
<html> 
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
</head>
 
<body>
    <div class="uk-container" style="margin-left: 0; margin-right: 0; max-width: 2000px;">
        <div class="uk-grid">
            <div class="">
                <div class="uk-background uk-card uk-card-default uk-card-body uk-margin-top">
                    <button type="button" class="uk-button uk-button-primary uk-button-large uk-align-center uk-margin-auto-vertical" id="test-case-button">Run Current Case</button>
                    <div class="uk-grid uk-child-width-1-4@s uk-flex-center" uk-grid>
                        <button type="button" style="background-color:limegreen" class="uk-button uk-button-large uk-button-primary uk-margin-medium-left" id="pass-button">Pass</button>
                        <button type="button" class=" uk-button uk-button-large uk-button-danger uk-margin-left" id="fail-button" href="#case-fail-modal" uk-toggle>Fail</button>
                    </div>   
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-top">
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="generate-cases-button">Generate New Cases</button>
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="generate-manual-case-button" href="#case-custom-modal" uk-toggle>Generate Manually</button>
                    <div id="current-case" style="padding-top: 15px;"><!--Html generated in view-test.js--></div>
                    <div id="results-table" style="padding-top: 10px;"><!--Html generated in view-test.js--></div>
                    <div id="toggle-all-saves"><!--Html generated in view-test.js--></div>
                </div>
            </div>
            <div class="">
                <div class="uk-card uk-card-default uk-card-body uk-margin-top" style="width: 690px; height: 800px; resize: both; max-width: 1400px; overflow: auto;">
                    <h3 id="tango-frame-header"></h3>
                    <iframe id="tango-frame" style="border-radius: 5px; width: 100%; height: 90%;" frameborder="0" uk-responsive></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="case-fail-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h3>Notes</h3>
            <textarea id="case-fail-notes"class="uk-textarea" rows="5" placeholder="Please enter the results of the test..."></textarea>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <h5>Importance: </h5>
                <label><input class="uk-radio" type="radio" name="importance-rating" value ="1" checked> 1</label>
                <label><input class="uk-radio" type="radio" name="importance-rating" value ="2"> 2</label>
                <label><input class="uk-radio" type="radio" name="importance-rating" value ="3"> 3</label>
                <label><input class="uk-radio" type="radio" name="importance-rating" value ="4"> 4</label>
                <label><input class="uk-radio" type="radio" name="importance-rating" value ="5"> 5</label>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="update-fail-button" class="uk-button uk-button-primary uk-modal-close" type="button">Save</button>
            </div>                       
        </div>
    </div>

    <div id="case-details-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="selected-case-details" style="padding-top: 10px;"><!--Html generated in view-test.js--></div>  
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <h5>Importance: </h5>
                    <label><input class="uk-radio" type="radio" id="importance-rating1" name="importance-rating" value="1">&nbsp;1</label>
                    <label><input class="uk-radio" type="radio" id="importance-rating2" name="importance-rating" value="2">&nbsp;2</label>
                    <label><input class="uk-radio" type="radio" id="importance-rating3" name="importance-rating" value="3">&nbsp;3</label>
                    <label><input class="uk-radio" type="radio" id="importance-rating4" name="importance-rating" value="4">&nbsp;4</label>
                    <label><input class="uk-radio" type="radio" id="importance-rating5" name="importance-rating" value="5">&nbsp;5</label>
                </div>

                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <h5>Status: </h5>
                    <label><input class="uk-radio" type="radio" id="pass-status" name="status-selection" value="Pass">&nbsp;Pass</label>
                    <label><input class="uk-radio" type="radio" id="fail-status" name="status-selection" value="Fail">&nbsp;Fail</label>
                    <label><input class="uk-radio" type="radio" id="not-ran-status" name="status-selection" value="Not Ran">&nbsp;Not Ran</label>
                </div>
            <div style="padding-left: 0px; padding-right: 0px;" class="uk-modal-footer uk-text-right">
                <div id="selected-case-footer" style="padding-top: 10px; padding-bottom: 0px;">
                        <button onclick="setCurrentCase()" style="float: left;" class="uk-button uk-button-default uk-modal-close uk-button-secondary" type="button">Set Next Case</button>
                        <button onclick="deleteCase()" style="float: left; margin-left: 5px;" class="uk-button uk-button-default uk-modal-close uk-button-danger" type="button">Delete Case</button>
                        <button style="margin-right: 5px; float: right;" onclick="updateModifiedCase()" class="uk-button uk-button-default uk-modal-close uk-button-primary" type="button"> Apply</button >
                        <button style="margin-right: 5px; float: right;" class="uk-button uk-button-default uk-modal-close" type="button" > Close </button>
                </div>
            </div> 
        </div>
    </div>

    <button type="button" class="uk-button uk-button-default" style="position: fixed; bottom: 4px; right: 10px;" id="edit-selectors-button">Selectors</button>

    <div id="case-custom-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div style="display: inline"></div>
            <div id="custom-case-details" style="padding-top: 10px;"></div>                    
            <div class="uk-modal-footer uk-text-right">
                <button style="float: left"class="uk-button uk-button-default uk-modal-close uk-button-primary" type="button" id="add-case-button">Add Case</button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div> 
        </div>
    </div>

    <div id="case-notes-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="notes-text"style="display: inline">
                <!--Html generated in view-test.js-->
            </div>   
            <textarea id="notes-textarea" class="uk-textarea" rows="5" placeholder="No notes to show"></textarea>
            <div id="notes-footer" class="uk-modal-footer uk-text-right">
                <!--Html generated in view-test.js-->
            </div>    
        </div>
            
    </div>
    <div id="edit-selectors-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="selectors-table" style="display: inline">
                <!--Html generated in view-test.js-->
            </div>   
            <div class="uk-modal-footer uk-text-right">
                <div id="edit-selectors-footer" style="padding-top: 10px;"></div>
                    <button style="margin-right:10px; float: left;" onclick="defaultSelectorsModal()" class="uk-button uk-button-default uk-modal-close uk-button-secondary" type= "button" id="#default-selectors-button">Default Selectors</button >
                    <button style="margin-right:10px;" onclick= "updateSelectors()" class="uk-button uk-button-default uk-modal-close uk-button-primary" type= "button" id= "update-case-button" >Apply</button >
                    <button class="uk-button uk-button-default uk-modal-close" type= "button" > Close </button>
            </div> 
        </div>
    </div>
</body>
</html>
{% endblock %}
{% block scripts %}

<script>
    var tangoPage = JSON.parse('{{ tango_page | escapejs | safe }}');
    var selectedCaseIndex = 0;
    var newTestCase = {};
    var baseUrl = 'http://{{ request.get_host }}/'
</script>
{% load staticfiles %}
<script src="{% static 'scripts/tango/view-test.js' %}"></script>
{% endblock %}